<p id="notice"><%= notice %></p>

<table>
  <caption>Source</caption>
  <thead>
    <tr>
      <th> URL </th>
      <th> Veracity </th>
      <th> Comment </th>
      <th> Checked by: </th>
      <th> Verified? </th>
      <th> Moderator </th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @source.url %></td>
      <td><%= @source.fact_check.veracity %></td>
      <td><%= @source.fact_check.comment %></td>

      <% if @source.fact_check.checker != nil %>
        <td><%= @source.fact_check.checker.getName %></td>
      <% else %>
        <td> [deleted] </td>
      <% end %>

      <td><%= @source.fact_check.verifiedByMod %></td>
      
      <% if @source.fact_check.moderator != nil %>
        <td><%= @source.fact_check.moderator.getName %></td>
      <% else %>
        <td> </td>
      <% end %>

      <td><%= link_to 'Edit', edit_source_path(@source) %></td>
      <td><%= link_to 'Destroy', @source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', sources_path %>
