<%= form_for(fact_check) do |f| %>
  <% if fact_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fact_check.errors.count, "error") %> prohibited this fact_check from being saved:</h2>

      <ul>
      <% fact_check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :statement %>
    <%= f.collection_select :statement_id, Statement.all, :id, :content %>
  </div>

  <div class="field">
    <%= f.label :veracity %>
    <%= f.select :veracity, FactCheck.veracities.keys.to_a %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.fields_for :sources, @fact_check.sources do |s| %>
    <%= s.label :source %>
    <%= s.text_area :url %>
    <% end %>
  </div>  

  <div class="field">
    <%= f.label :verifiedByMod %>
    <%= f.check_box :verifiedByMod %>
  </div>

  <div class="field">
    <%= f.label :checker %>
    <%= f.collection_select :checker_id, Checker.all, :id, :getName %>
  </div>

  <div class="field">
    <%= f.label :moderator %>
    <%= f.collection_select :moderator_id, Moderator.all, :id, :getName %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
