<p id="notice"><%= notice %></p>

<table>
  <caption>Statement given</caption>
  <thead>
    <tr>
      <th> Statement </th>
      <th> Made by </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @fact_check.statement.content %></td>
      <td><%= @fact_check.statement.politician.getName %></td>
    </tr>
  </tbody>
</table>


<table>
  <caption>Fact Check</caption>
  <thead>
    <tr>
      <th> Veracity </th>
      <th> Comment </th>
      <th> Checked by: </th>
      <th> Verified? </th>
      <th> Moderator </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @fact_check.veracity %></td>
      <td><%= @fact_check.comment %></td>
      <td><%= @fact_check.checker.getName %></td>
      <td><%= @fact_check.verifiedByMod %></td>
      <td><%= @fact_check.moderator.getName %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_fact_check_path(@fact_check) %> |
<%= link_to 'Back', fact_checks_path %>
