<a class="nav-link" href=<%= checkers_path %>>
  Checkers
</a>

<a class="nav-link" href=<%= events_path %>>
  Events
</a>

<a class="nav-link" href=<%= fact_checks_path %>>
  Fact Checks
</a>

<a class="nav-link" href=<%= moderators_path %>>
  Moderators
</a>

<a class="nav-link" href=<%= organizations_path %>>
  Organizations
</a>

<a class="nav-link" href=<%= parties_path %>>
  Parties
</a>

<a class="nav-link" href=<%= people_path %>>
 People
</a>

<a class="nav-link" href=<%= politicians_path %>>
  Politicians
</a>

<a class="nav-link" href=<%= sources_path %>>
  Sources
</a>

<a class="nav-link" href=<%= statements_path %>>
  Statements
</a>