<p id="notice"><%= notice %></p>

<div>
  <h2> Details: </h2>
  <%= render 'events_table', events: [@event] %>
</div>

<div>
  <h2> Statements in this event: </h2>
  <%= render 'statements/statements_table', statements: @event.statements %>
</div>

<div>
  <h2> Moderators: </h2>
  <%= render 'moderators/moderators_table', moderators: @event.moderators %>
</div>

<%= link_to 'Back', events_path %>
