<%= form_for(checker) do |f| %>
  <% if checker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checker.errors.count, "error") %> prohibited this checker from being saved:</h2>

      <ul>
      <% checker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person %>
    <%= f.collection_select :person_id, Person.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
