<%= form_for(politician) do |f| %>
  <% if politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politician.errors.count, "error") %> prohibited this politician from being saved:</h2>

      <ul>
      <% politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <caption>Available users</caption>
    <thead>
      <tr>
      <th> </th>
        <th>User</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |p| %>
        <tr> 
          <td> <%= radio_button_tag(:person_id, p.id, checked=(p==politician.person) ) %> </td> 
          <td> <%= label_tag(:name, p.name) %> </td>
          <td> <%= label_tag(:email, p.email) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <table>
    <caption>Available Parties</caption>
    <thead>
      <tr>
      <th> </th>
        <th>Name</th>
        <th>Abbreviation</th>
      </tr>
    </thead>
    <tbody>
      <% @parties.each do |p| %>
        <tr> 
          <td> <%= radio_button_tag(:party_id, p.id, checked=(p==politician.person) ) %> </td> 
          <td> <%= label_tag(:name, p.name) %> </td>
          <td> <%= label_tag(:abbreviation, p.abbreviation) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
