<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Party</th>
      <th>Abbreviation</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @politician.person.name %></td>
        <td><%= @politician.person.email %></td>

        <% if @politician.party != nil %>
          <td><%= @politician.party.name %></td>
          <td><%= @politician.party.abbreviation %></td>
        <% else %>
          <td> - </td>
          <td> - </td>
        <% end %>


        <td><%= link_to 'Destroy', @politician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Edit', edit_politician_path(@politician) %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Back', politicians_path %>
